<!-- structure:

- navbar
- intro text with background.
- button 1 for: to profile.
- button 2 for: to search. -->

<app-navigation></app-navigation>

<div class="page-header" data-parallax="true" id="bg-intro">
  
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>['welcome', 'karibu', 'willkommen', 'bienvenidos', 'bem-vindo']</h1>
          <h3>Check out my profile here.</h3> 
          <br />
          <button type="button" class="btn btn-outline-neutral btn-round"> My Profile</button>

          <h3>Or search for an(other) awesome coder here.</h3> 
          <br />
          <button type="button" class="btn btn-outline-neutral btn-round">Search</button>
      </div>
  </div>

</div>

