
#bg-intro{
  /* background-image: url('/assets/images/bg-1.jpg'); */
  background-color: #86D9AB;
  min-height: 500px;
  color: #ffffff

}

#main-buttons{
  background-color: #86D9AB;
  color: #ffffff;

}