<!-- structure:

- navbar
- intro text with background.
- button 1 for: to profile.
- button 2 for: to search. -->

<app-navigation></app-navigation>

<div class="page-header" data-parallax="true" id="bg-intro">
  
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <br>
          <br>
          <br>
          <br>
          <h1>['welcome', 'karibu', 'willkommen', 'bienvenidos', 'bem-vindo']</h1>
          <br>

          <h3>Search GitHub Profiles with the click of a button.</h3>

          <br>
          <br>


          <button type="button" id="main-buttons" class="btn btn-outline-primary btn-lg btn-round"> My Profile</button>
          <br>
          <br>

          <button type="button" id="main-buttons" class="btn btn-outline-primary btn-lg btn-round" >Search</button>
          
      </div>  
    
  </div>

</div>



