<!-- profile navigation element -->
<app-navigation></app-navigation>
  
  <div class="page-header" data-parallax="true" id="bg-intro">
  
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <br>
                <br>
                <br>
                <br>
                <h1>['Search GitHub Here']</h1>
                <br>
            </div>  

            <div class="card" id="card-bg">
                    <div class="card-body">
                        <form (ngSubmit)="ngOnInit()" #searchUser="ngForm">
                            <div class="form-row align-items-center">
                              <div class="col-auto">
                                <!-- <h4>Search Here:</h4> -->
                                
                              </div>
                              <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-search"></i></div>
                                  </div>
                                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="username" [(ngModel)] ="username" (keyup.enter)="ngOnInit()" name= "username">
                                </div>
                              </div>
                              <div class="col-auto">
                                <div class="form-check mb-2">
                                  
                                </div>
                              </div>
                              <div class="col-auto">
                                <button type="submit" id="main-buttons" class="btn btn-outline-primary btn-block btn-round">Search</button>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
        </div>
      
      </div>
 
       <!-- Display User Profile -->
    
      <div class="card mb-3" id="card-bg">
            <div class="card-header">
                    {{user.name}}
                  </div>
            <img src="{{user.avatar_url}}" id="respond" class="img-thumbnail card-img-top" alt="avatar_url">
            <div class="card-body">
              <h5 class="card-title">{{user.log_in}}</h5>
              <!-- <h5 class="card-title">log_in: </h5> -->
              <p class="card-text">Bio: {{user.bio}}</p>
              <p class="card-text">Location: {{user.location}}</p>
              <p class="card-text"><small class="text-muted">Followers: {{user.followers}}</small></p>
              <p class="card-text"><small class="text-muted">Following: {{user.following}}</small></p>
            </div>

            <!-- <button type="submit" id="main-buttons" class="btn btn-outline-primary btn-round">View Repositories</button> -->

          </div>

          <!-- list repositories -->

              <div class="row">
                    <div class="col-sm-6">
                      <div class="card" *ngFor="let repo of reposArray">
                        <div class="card-body">
                          <h5 class="card-title">{{repo.name}}</h5>
                          <p class="card-text">{{repo.description}}</p>
                          <a href="{{repo.html_url}}" class="btn btn-primary">View on GitHub</a>
                        </div>
                      </div>
                    </div>
                    
            </div>

     

      <app-navigation-footer></app-navigation-footer>



      

  




  

 



  

  <!-- <div class="card mb-3">
    <img src="./assets/images/patrick-tomasso-208114-unsplash.jpg" 
    class="card-img-top" alt="...">
    
    <div class="card-body">
      <h5 class="card-title">Name</h5>
      <h5 class="card-title">Log-in</h5>
      <p class="card-text">DescriptionLorem ipsum dolor sit amet consectetur adipisicing elit. Harum modi quis neque porro excepturi sit quia repellendus, nesciunt, praesentium dolorem dolorum voluptas optio, a nemo velit veritatis veniam et molestias.</p>
      <p class="card-text"><small class="text-muted">followers: </small></p>
      <p class="card-text"><small class="text-muted">following:</small></p>
    </div>
  </div> -->





  <!-- repos -->


<!-- 
  repos
  name: any;   
      description: any;
      html_url: any -->





  

