
#bg-intro{
  background-image: url('/assets/images/adam-whitlock-270558-unsplash.jpg');
  
  background-size: cover;
  background-color: #6EC7DF; 
  min-height: 300px;
  color: #ffffff;
  

}

#main-buttons{
  /* background-color: #6610f2; */
  color: #ffffff;

}

#btn-nav{
  background-color: #86D9AB;
  color: #ffffff;
}

#card-bg{
  background-color:  #6EC7DF;

}