<!-- profile navigation element -->
<nav class="navbar navbar-expand-lg" id="bg-primary">
    <div class="container">

          <!-- Form Inputs -->
          <form class="form-inline">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    <!-- (click)="getProfile()" -->
                    <button class="btn btn-outline-primary
                     my-2 my-sm-0" type="submit">Search</button>
                  </div>
                </form>

        
       
        <div class="collapse navbar-collapse" id="navbar-transparent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                      <a class="navbar" href="https://github.com/tc-mwangi">@top_cat</a>
                </li>
                
  
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  
<!-- User Profile Display Here -->

<!-- *ngIf="user" -->
<div>
  <div class="card mb-3">
      <!-- <h5 class="card-title" appUnderline >{{user.login}}</h5> -->
      <!-- placeholder image {{user.avatar_url}}-->
      <img src="./assets/images/avatar.jpg" height="500px" width="500px" class="img-circle img-fluid" alt="avatar">
      <div class="card-body">
        <!-- <h5 class="card-title" appUnderline >{{user.login}}</h5> -->
        <!-- <p class="card-text">{{user.login}}</p> -->
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card body">
        <ul class="list-group">
          <!-- <li class="list-group-item">{{user.name | capitalize}} &mdash;{{user.login}}</li>
          <li class="list-group-item">{{user.location}}</li> -->
          <!-- <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>    -->
          <!-- <li class="list-group-item" *ngIf="user.email"><a href="emailto:{{user.email}}">{{profile.email}}</a></li> -->
        </ul>
      </div>


    <!-- Repos Display Here: Hidden until repo button is clicked -->
    <!-- *ngFor="let repo of reposArray"  -->
    <div class ="card border-primary mb-3" style="max-width: 18rem;">
        <!-- remove labels when data is retrieved -->


        <!-- <div class="card-body text-primary">
            <label for="repo-description">Repo Name: </label>
          <h5 class="card-title">{{repo.name | capitalize}}</h5>
          <label for="repo-description">Description: </label>
          <p class="card-text">{{repo.description}}</p>
          <label for="repo-url">Repo url: </label>
          <a href="{{repo.html_url}}" target="_blank" class="btn btn-md pull-right">View on Github</a>
   </div> -->


  </div>






  

