<!-- <app-navigation-profile></app-navigation-profile>

<div id="form">
    <form action="">
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Search the username of any github user!" [(ngModel)]="username" name="username">
          </div>
          <div class="col-sm-4">
            <button class="btn" (click)="searchProfile()">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf= "profile">
    <div class="panel">
      <div class="panel-heading">
        <h3 appHighlight>{{profile.login}}'s Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="{{profile.login}}'s Avatar">
          </div>
          <div class="col-sm-5">
            <ul class="list-group">
              <li class="list-group-item">{{profile.name | bolden}} &mdash;{{profile.login}}</li>
              <li class="list-group-item">{{profile.location}}</li>
              <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
              <li class="list-group-item" *ngIf="profile.company"> Works at:{{profile.company}}</li>
              <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
              <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target = "_blank">{{profile.blog}}</a></li>
              <li class="list-group-item" *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div>
              <p>
                <span class="label">{{profile.followers}} Followers</span>
                <span class="label">Following {{profile.following}}</span>
                <span class="label">{{profile.public_gists}} Public Gists</span>
                <span class="label">{{profile.public_repos}} Repositories</span>
              </p>
              <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-md">View profile on Github</a></p>
              <div class="panel">
                <div class="panel-heading">
                  <h3 class="panel-heading">Repositories</h3>
                </div>
                <div class="panel-body" *ngFor="let repo of reposArray">
                  <p class="clearfix">
                    {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-md pull-right">View this project on Github</a>
                  </p>
                  <p>{{repo.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- profile navigation element -->
<nav class="navbar navbar-expand-lg" id="bg-primary">
    <div class="container">

          <!-- Form Inputs -->
          <form class="form-inline">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    
                    <button class="btn btn-outline-primary
                     my-2 my-sm-0" type="submit" (click)="getProfile()">Search</button>
                  </div>
                </form>

        
       
        <div class="collapse navbar-collapse" id="navbar-transparent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                      <a class="navbar" href="https://github.com/tc-mwangi">@top_cat</a>
                </li>
                
  
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  
  
    
  
<!-- User Profile Display Here -->
  <div class="card mb-3">
      <img src="{{user.avatar_url}}" width="100px" height="100px"class="card-img-top" alt="{{user.login}}">
      <div class="card-body">
        <h5 class="card-title" appUnderline >Profile</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>


    <!-- Repos Display Here: Hidden until repo button is clicked -->

    <div class ="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{user.name}}</div>
        <div class="card-body text-primary">
            <label for="repo-description">Name: </label>
          <h5 class="card-title">{{repo.name | capitalize}}</h5>
          <label for="repo-description">Description: </label>
          <p class="card-text">{{repo.description}}</p>
          <a href="{{repo.html_url}}" target="_blank" class="btn btn-md pull-right">View on Github</a>
   </div>



  

